  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
                <h1 class="m-0 text-primary">JobEntry</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="job-list.html" class="dropdown-item">Job List</a>
                            <a href="job-detail.html" class="dropdown-item">Job Detail</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                      {% if app.user %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block"  data-bs-toggle="dropdown">Profile</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="{{path('user.edit',{id : app.user.id})}}" class="dropdown-item">Profile</a>
                                <a href="{{path('user.edit.password',{id : app.user.id})}}" class="dropdown-item">Mofifier le mot de passe</a>
                                <a href="{{path('user.logout')}}" class="dropdown-item">Se déconnecter</a>
                            </div>
                        </div>
                        
                    {% endif %}
                </div>
              
				
                    {% if app.user %}
                                               
                        <a href="#" class="nav-item nav-link">{{app.user.username}}</a>

                        {% else %}
                            
                        <a href="{{path("login.user")}}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Se Connecter<i class="fa fa-arrow-right ms-3"></i></a>
                    {% endif %}
                    
            </div>
        </nav>