<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<!-- Libraries Stylesheet -->
            <link href="{{asset("lib/animate/animate.min.css")}} " rel="stylesheet">
            <link href="{{asset("lib/owlcarousel/assets/owl.carousel.min.css")}} " rel="stylesheet">

            <!-- Customized Bootstrap Stylesheet -->
            <link href="{{asset("css/bootstrap.min.css")}} " rel="stylesheet">

            <!-- Template Stylesheet -->
            <link href="{{asset("css/style.css")}} " rel="stylesheet">
		{% endblock %}
        {% block style %}
            
        {% endblock %}

	</head>
	<body>
		
		{% block body %}
            
        {% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			 <script src="{{asset("js/jquery.min.js")}} "></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="{{asset("lib/wow/wow.min.js")}}" ></script>
            <script src="{{asset("lib/easing/easing.min.js")}} "></script>
            <script src="{{asset("lib/waypoints/waypoints.min.js")}} "></script>
            <script src="{{asset("lib/owlcarousel/owl.carousel.min.js")}} "></script>

            <!-- Template Javascript -->
            <script src="{{asset("js/main.js")}}"></script>
		{% endblock %}
	</body>
</html>
